.ant-table-striped :deep(.table-striped) {
  background-color: #fafafa;
}
.ant-table {
  color: #007fd4 !important;
}
.ant-table-thead > tr > th {
  color: #007fd4 !important;
}
#app {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .app-header {
    border-bottom: 1px solid #2f2f31;
  }
  .video {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .app-footer {
    border-top: 1px solid #2f2f31;
  }
  .small {
    width: 500px;
    height: 500px;
  }
}
.frostedGlass {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  background-color: #101129;
  background: rgba(10, 11, 29, 0.48);
  
}

.redfrostedGlass {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  background-color: #101129;
  background:rgba(253, 10, 51, 0.48)
  
}
.frostedGlass2 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.18);
}

input[type="checkbox"]:after {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: #ff0000;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
}

.frostedGlass3 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.78);
}
.redesign_input {
  height: 20px;
  line-height: 16px;
  background-color: rgb(60, 60, 60);

  display: inline-block;
  box-sizing: border-box;
  border: none;
  resize: none;
  padding: 4px;
  text-overflow: ellipsis;
  padding: 2px 2px;
  outline-color: #007fd4;
}

.redesign_item {
  margin-top: 8px;
  font-size: 13px;
  display: flex;
  .label {
    width: 80px;
  }
}
/*.redesign_item:hover {
  outline: 1px solid rgba(255, 255, 255, 0.12);
  background-color: rgba(255, 255, 255, 0.12);
}*/
.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: inherit !important;
  color: #007fd4 !important;
}
.ant-descriptions-item-content {
  color: #007fd4 !important;
}
.ant-checkbox-wrapper {
  color: #007fd4 !important;
}
.redesign_select {
  background-color: rgb(60, 60, 60);
  //color: rgb(240, 240, 240);
  border-color: rgb(60, 60, 60);
  outline-color: #007fd4;
  width: 180px;
  option {
    outline-color: #007fd4;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
  }
}
.redesign_select:focus {
  outline-color: #007fd4;
}
.redesign_button {
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
  width: auto;
  padding: 2px 14px;
  //color: rgb(255, 255, 255);
  background-color: rgb(14, 99, 156);
}
.camera_item {
  cursor: pointer;
}
.camera_item:hover {
  background-color: rgba(68, 61, 61, 0.82);
}
.ant-row {
  display: flex !important;
}

.panelm {
  /* 边框 */
  color: white;
  box-sizing: border-box;
  border: 2px solid red;
  border-image: url(/static/border.png) 51 38 21 132;
  border-width: 2.125rem 1.583rem 0.875rem 5.5rem;
  position: relative;
  margin-bottom: 0.833rem;
}
.panelm:hover {
  outline: 1px solid rgba(34, 28, 28, 0.12);
  background-color: rgba(44, 39, 39, 0.82);
}
.panelm .title {
  /* 装内容 */
  /* height: 60px; */
  margin-top: -2.125rem;
  margin-right: -1.583rem;
  margin-bottom: 5px;
  margin-left: -5.5rem;
  padding: 1rem 1.5rem;
  color: white;
  border-bottom: #0164a7 2px solid;
}
.panelm .content {
  /* 装内容 */
  /* height: 60px; */
  margin-right: -1.583rem;
  margin-bottom: -0.875rem;
  margin-left: -5.5rem;
  padding: 1rem 1.5rem;
  color: #007fd4;
}
